<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agreements</title>
</head>
<body>


<form action="/agreehtml" name="form_submitted" method="post">
    {% csrf_token %}
    <p>Temporary Seasonal/Holiday Employee Acknowledgement</p>
    <p>I, <input type="text" name="myname" /> {{ context.myname }}  the undersigned, do herby acknowledge that I
am being hired on as a temporary seasonal/holiday employee of Choudhry Enterprises/H&IC Bros DBA:
Edible Arrangements. I understand that this is a temporary position for the holiday indicated below. I also
understand that once the holiday season has come to an end I will no longer be on the schedule.
    </p>
    <p>Select
    <li><INPUT TYPE="Checkbox" Name="Holiday"> Holiday {{ if context.holiday }}</li>
    <li><INPUT TYPE="Checkbox" Name="Valentine">Valentine {{ context.valentine }}</li>
    <li><INPUT TYPE="Checkbox" Name="Christmas"> Christmas {{ context.christmas }}</li></p>
    <p>
Start Date <input type="date" name="startdate" > {{context.start_date}}
        End Date<input type="date" name="enddate">{{context.end_date}}</p>
    <p>
I am aware that the pay cycle for the week starts on Sunday and closes on Saturday, and that I will be paid
for all of my wages at the end of the holiday cycle, with the pay date dependent upon the date of the
holiday.
**All temporary employees have the opportunity to be hired on as a permanent employee based upon
their performance evaluation and the needs of the store they are working in. This will be determined
        at the end of the holiday season by the store manager on a case by case basis.</p>
    <input type="submit" name='form_submited' value="submit"/>
</form>
</body>
</html>